<a href="https://colab.research.google.com/github/VasaviLagishetty/Pandas/blob/master/DataFrame_Basics1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/VasaviLagishetty/Pandas/master/Datasets/jamesbond.csv"
jamesbond = pd.read_csv(url)
jamesbond.head(15)

                               Film  Year  ... Budget Bond Actor Salary
0                            Dr. No  1962  ...    7.0               0.6
1             From Russia with Love  1963  ...   12.6               1.6
2                        Goldfinger  1964  ...   18.6               3.2
3                       Thunderball  1965  ...   41.9               4.7
4                     Casino Royale  1967  ...   85.0               NaN
5               You Only Live Twice  1967  ...   59.9               4.4
6   On Her Majesty's Secret Service  1969  ...   37.3               0.6
7              Diamonds Are Forever  1971  ...   34.7               5.8
8                  Live and Let Die  1973  ...   30.8               NaN
9       The Man with the Golden Gun  1974  ...   27.7               NaN
10             The Spy Who Loved Me  1977  ...   45.1               NaN
11                        Moonraker  1979  ...   91.5               NaN
12               For Your Eyes Only  1981  ...   60.2               NaN
13            Never Say Never Again  1983  ...   86.0               NaN
14                        Octopussy  1983  ...   53.9               7.8

[15 rows x 7 columns]

In [3]:
jamesbond = jamesbond.set_index("Film")      # setting Film column as index
jamesbond.head(5)

                       Year         Actor  ... Budget  Bond Actor Salary
Film                                       ...
Dr. No                 1962  Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sean Connery  ...   18.6                3.2
Thunderball            1965  Sean Connery  ...   41.9                4.7
Casino Royale          1967   David Niven  ...   85.0                NaN

[5 rows x 6 columns]

In [4]:
jamesbond = jamesbond.reset_index(drop=False)        # dropping film column as index
jamesbond.head(5)

                    Film  Year  ... Budget Bond Actor Salary
0                 Dr. No  1962  ...    7.0               0.6
1  From Russia with Love  1963  ...   12.6               1.6
2             Goldfinger  1964  ...   18.6               3.2
3            Thunderball  1965  ...   41.9               4.7
4          Casino Royale  1967  ...   85.0               NaN

[5 rows x 7 columns]

In [5]:
jamesbond = jamesbond.set_index("Director")         # setting Director as index
jamesbond.head(5)

                                Film  Year  ... Budget  Bond Actor Salary
Director                                    ...
Terence Young                 Dr. No  1962  ...    7.0                0.6
Terence Young  From Russia with Love  1963  ...   12.6                1.6
Guy Hamilton              Goldfinger  1964  ...   18.6                3.2
Terence Young            Thunderball  1965  ...   41.9                4.7
Ken Hughes             Casino Royale  1967  ...   85.0                NaN

[5 rows x 6 columns]

In [6]:
jamesbond = jamesbond.reset_index(drop = False)
jamesbond = jamesbond.set_index("Year")            # setting Year as index
jamesbond.head(6)

           Director                   Film  ... Budget  Bond Actor Salary
Year                                        ...
1962  Terence Young                 Dr. No  ...    7.0                0.6
1963  Terence Young  From Russia with Love  ...   12.6                1.6
1964   Guy Hamilton             Goldfinger  ...   18.6                3.2
1965  Terence Young            Thunderball  ...   41.9                4.7
1967     Ken Hughes          Casino Royale  ...   85.0                NaN
1967  Lewis Gilbert    You Only Live Twice  ...   59.9                4.4

[6 rows x 6 columns]

In [7]:
jamesbond.loc[2006]        # iloc['column_value'] used for retrieving complete row based on index column

Director             Martin Campbell
Film                   Casino Royale
Actor                   Daniel Craig
Box Office                     581.5
Budget                         145.3
Bond Actor Salary                3.3
Name: 2006, dtype: object

In [8]:
jamesbond.loc[1967]

           Director                 Film  ... Budget  Bond Actor Salary
Year                                      ...
1967     Ken Hughes        Casino Royale  ...   85.0                NaN
1967  Lewis Gilbert  You Only Live Twice  ...   59.9                4.4

[2 rows x 6 columns]

In [9]:
jamesbond = jamesbond.reset_index(drop = False)
jamesbond = jamesbond.set_index("Film")
jamesbond = jamesbond.sort_index(ascending=False)
jamesbond.head(5)

                         Year            Director  ... Budget  Bond Actor Salary
Film                                               ...
You Only Live Twice      1967       Lewis Gilbert  ...   59.9                4.4
Tomorrow Never Dies      1997  Roger Spottiswoode  ...  133.9               10.0
Thunderball              1965       Terence Young  ...   41.9                4.7
The World Is Not Enough  1999       Michael Apted  ...  158.3               13.5
The Spy Who Loved Me     1977       Lewis Gilbert  ...   45.1                NaN

[5 rows x 6 columns]

In [10]:
jamesbond.loc['Dr. No']

Year                          1962
Director             Terence Young
Actor                 Sean Connery
Box Office                   448.8
Budget                           7
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

In [11]:
jamesbond.loc["Tomorrow Never Dies":"Skyfall"]

                             Year  ... Bond Actor Salary
Film                               ...
Tomorrow Never Dies          1997  ...              10.0
Thunderball                  1965  ...               4.7
The World Is Not Enough      1999  ...              13.5
The Spy Who Loved Me         1977  ...               NaN
The Man with the Golden Gun  1974  ...               NaN
The Living Daylights         1987  ...               5.2
Spectre                      2015  ...               NaN
Skyfall                      2012  ...              14.5

[8 rows x 6 columns]

In [12]:
jamesbond.loc[["Spectre", "Quantum of Solace","The World Is Not Enough"]]

                         Year       Director  ... Budget  Bond Actor Salary
Film                                          ...
Spectre                  2015     Sam Mendes  ...  206.3                NaN
Quantum of Solace        2008   Marc Forster  ...  181.4                8.1
The World Is Not Enough  1999  Michael Apted  ...  158.3               13.5

[3 rows x 6 columns]

In [13]:
"Die Another Day" in jamesbond.index

True

In [14]:
jamesbond = jamesbond.reset_index(drop=False)
jamesbond.head(10)

                          Film  Year  ... Budget Bond Actor Salary
0          You Only Live Twice  1967  ...   59.9               4.4
1          Tomorrow Never Dies  1997  ...  133.9              10.0
2                  Thunderball  1965  ...   41.9               4.7
3      The World Is Not Enough  1999  ...  158.3              13.5
4         The Spy Who Loved Me  1977  ...   45.1               NaN
5  The Man with the Golden Gun  1974  ...   27.7               NaN
6         The Living Daylights  1987  ...   68.8               5.2
7                      Spectre  2015  ...  206.3               NaN
8                      Skyfall  2012  ...  170.2              14.5
9            Quantum of Solace  2008  ...  181.4               8.1

[10 rows x 7 columns]

In [15]:
jamesbond.loc[15]

Film                 Licence to Kill
Year                            1989
Director                   John Glen
Actor                 Timothy Dalton
Box Office                     250.9
Budget                          56.7
Bond Actor Salary                7.9
Name: 15, dtype: object

In [16]:
jamesbond.iloc[15]         # iloc[] is used for integer index based on retrieving of rows

Film                 Licence to Kill
Year                            1989
Director                   John Glen
Actor                 Timothy Dalton
Box Office                     250.9
Budget                          56.7
Bond Actor Salary                7.9
Name: 15, dtype: object

In [17]:
print(jamesbond.iloc[3:7])
print(jamesbond.iloc[[25,3]])

                          Film  Year  ... Budget Bond Actor Salary
3      The World Is Not Enough  1999  ...  158.3              13.5
4         The Spy Who Loved Me  1977  ...   45.1               NaN
5  The Man with the Golden Gun  1974  ...   27.7               NaN
6         The Living Daylights  1987  ...   68.8               5.2

[4 rows x 7 columns]
                       Film  Year  ... Budget Bond Actor Salary
25         A View to a Kill  1985  ...   54.5               9.1
3   The World Is Not Enough  1999  ...  158.3              13.5

[2 rows x 7 columns]

In [18]:
jamesbond = jamesbond.set_index("Film")
jamesbond.head(5)

                         Year            Director  ... Budget  Bond Actor Salary
Film                                               ...
You Only Live Twice      1967       Lewis Gilbert  ...   59.9                4.4
Tomorrow Never Dies      1997  Roger Spottiswoode  ...  133.9               10.0
Thunderball              1965       Terence Young  ...   41.9                4.7
The World Is Not Enough  1999       Michael Apted  ...  158.3               13.5
The Spy Who Loved Me     1977       Lewis Gilbert  ...   45.1                NaN

[5 rows x 6 columns]

In [19]:
jamesbond.iloc[[2,4,6,8,10]]

                                 Year       Director  ... Budget  Bond Actor Salary
Film                                                  ...
Thunderball                      1965  Terence Young  ...   41.9                4.7
The Spy Who Loved Me             1977  Lewis Gilbert  ...   45.1                NaN
The Living Daylights             1987      John Glen  ...   68.8                5.2
Skyfall                          2012     Sam Mendes  ...  170.2               14.5
On Her Majesty's Secret Service  1969  Peter R. Hunt  ...   37.3                0.6

[5 rows x 6 columns]

In [20]:
jamesbond.head(5)

                         Year            Director  ... Budget  Bond Actor Salary
Film                                               ...
You Only Live Twice      1967       Lewis Gilbert  ...   59.9                4.4
Tomorrow Never Dies      1997  Roger Spottiswoode  ...  133.9               10.0
Thunderball              1965       Terence Young  ...   41.9                4.7
The World Is Not Enough  1999       Michael Apted  ...  158.3               13.5
The Spy Who Loved Me     1977       Lewis Gilbert  ...   45.1                NaN

[5 rows x 6 columns]

In [21]:
jamesbond = jamesbond.rename(columns = {'Year':'Release_date','Budget':'Investment'})       # renaming columns
jamesbond.head(5)

                         Release_date  ... Bond Actor Salary
Film                                   ...
You Only Live Twice              1967  ...               4.4
Tomorrow Never Dies              1997  ...              10.0
Thunderball                      1965  ...               4.7
The World Is Not Enough          1999  ...              13.5
The Spy Who Loved Me             1977  ...               NaN

[5 rows x 6 columns]

In [25]:
jamesbond = jamesbond.rename(index = {'Thunderball' : 'Thunderball1','The World Is Not Enough':'Enough Not Is World The'})       # renaming index values
jamesbond.head(4)

                         Release_date  ... Bond Actor Salary
Film                                   ...
You Only Live Twice              1967  ...               4.4
Tomorrow Never Dies              1997  ...              10.0
Thunderball1                     1965  ...               4.7
Enough Not Is World The          1999  ...              13.5

[4 rows x 6 columns]

In [32]:
jamesbond.columns = ["Release Year", "Actor", "Director", "Revenue", "Investment", "Salary"]       # another way for changing column names
jamesbond.head(1)

                     Release Year          Actor  ... Investment  Salary
Film                                              ...
You Only Live Twice          1967  Lewis Gilbert  ...       59.9     4.4

[1 rows x 6 columns]

In [33]:
jamesbond.sample(n = 3, axis = "columns").head(5)          # any random 3 columns

                         Release Year  Investment        Director
Film
You Only Live Twice              1967        59.9    Sean Connery
Tomorrow Never Dies              1997       133.9  Pierce Brosnan
Thunderball1                     1965        41.9    Sean Connery
Enough Not Is World The          1999       158.3  Pierce Brosnan
The Spy Who Loved Me             1977        45.1     Roger Moore

In [36]:
jamesbond.nlargest(3, columns = "Investment")

                   Release Year         Actor  ... Investment  Salary
Film                                           ...
Spectre                    2015    Sam Mendes  ...      206.3     NaN
Quantum of Solace          2008  Marc Forster  ...      181.4     8.1
Skyfall                    2012    Sam Mendes  ...      170.2    14.5

[3 rows x 6 columns]

In [37]:
jamesbond.nsmallest(n = 2, columns = "Revenue")

                  Release Year      Actor  ... Investment  Salary
Film                                       ...
Licence to Kill           1989  John Glen  ...       56.7     7.9
A View to a Kill          1985  John Glen  ...       54.5     9.1

[2 rows x 6 columns]

In [40]:
jamesbond["Revenue"].nlargest(5)

Film
Skyfall          943.5
Thunderball1     848.1
Goldfinger       820.4
Spectre          726.7
Casino Royale    581.5
Name: Revenue, dtype: float64

In [41]:
jamesbond["Salary"].nsmallest(5)

Film
On Her Majesty's Secret Service    0.6
Dr. No                             0.6
From Russia with Love              1.6
Goldfinger                         3.2
Casino Royale                      3.3
Name: Salary, dtype: float64

In [42]:
part1 = jamesbond["Director"] == "Daniel Craig"
jamesbond[part1]

                   Release Year            Actor  ... Investment  Salary
Film                                              ...
Spectre                    2015       Sam Mendes  ...      206.3     NaN
Skyfall                    2012       Sam Mendes  ...      170.2    14.5
Quantum of Solace          2008     Marc Forster  ...      181.4     8.1
Casino Royale              2006  Martin Campbell  ...      145.3     3.3

[4 rows x 6 columns]

In [43]:
jamesbond.where(part1)

                                 Release Year  ... Salary
Film                                           ...
You Only Live Twice                       NaN  ...    NaN
Tomorrow Never Dies                       NaN  ...    NaN
Thunderball1                              NaN  ...    NaN
Enough Not Is World The                   NaN  ...    NaN
The Spy Who Loved Me                      NaN  ...    NaN
The Man with the Golden Gun               NaN  ...    NaN
The Living Daylights                      NaN  ...    NaN
Spectre                                2015.0  ...    NaN
Skyfall                                2012.0  ...   14.5
Quantum of Solace                      2008.0  ...    8.1
On Her Majesty's Secret Service           NaN  ...    NaN
Octopussy                                 NaN  ...    NaN
Never Say Never Again                     NaN  ...    NaN
Moonraker                                 NaN  ...    NaN
Live and Let Die                          NaN  ...    NaN
Licence to Kill                           NaN  ...    NaN
Goldfinger                                NaN  ...    NaN
GoldenEye                                 NaN  ...    NaN
From Russia with Love                     NaN  ...    NaN
For Your Eyes Only                        NaN  ...    NaN
Dr. No                                    NaN  ...    NaN
Die Another Day                           NaN  ...    NaN
Diamonds Are Forever                      NaN  ...    NaN
Casino Royale                          2006.0  ...    3.3
Casino Royale                             NaN  ...    NaN
A View to a Kill                          NaN  ...    NaN

[26 rows x 6 columns]

In [0]:
part2 = jamesbond["Salary"]>8.0

In [46]:
jamesbond.where(jamesbond["Revenue"] > 500.0)

                                 Release Year  ... Salary
Film                                           ...
You Only Live Twice                    1967.0  ...    4.4
Tomorrow Never Dies                       NaN  ...    NaN
Thunderball1                           1965.0  ...    4.7
Enough Not Is World The                   NaN  ...    NaN
The Spy Who Loved Me                   1977.0  ...    NaN
The Man with the Golden Gun               NaN  ...    NaN
The Living Daylights                      NaN  ...    NaN
Spectre                                2015.0  ...    NaN
Skyfall                                2012.0  ...   14.5
Quantum of Solace                      2008.0  ...    8.1
On Her Majesty's Secret Service           NaN  ...    NaN
Octopussy                                 NaN  ...    NaN
Never Say Never Again                     NaN  ...    NaN
Moonraker                              1979.0  ...    NaN
Live and Let Die                          NaN  ...    NaN
Licence to Kill                           NaN  ...    NaN
Goldfinger                             1964.0  ...    3.2
GoldenEye                              1995.0  ...    5.1
From Russia with Love                  1963.0  ...    1.6
For Your Eyes Only                        NaN  ...    NaN
Dr. No                                    NaN  ...    NaN
Die Another Day                           NaN  ...    NaN
Diamonds Are Forever                      NaN  ...    NaN
Casino Royale                          2006.0  ...    3.3
Casino Royale                             NaN  ...    NaN
A View to a Kill                          NaN  ...    NaN

[26 rows x 6 columns]

In [47]:
jamesbond.where(part1 & part2)

                                 Release Year         Actor  ... Investment  Salary
Film                                                         ...
You Only Live Twice                       NaN           NaN  ...        NaN     NaN
Tomorrow Never Dies                       NaN           NaN  ...        NaN     NaN
Thunderball1                              NaN           NaN  ...        NaN     NaN
Enough Not Is World The                   NaN           NaN  ...        NaN     NaN
The Spy Who Loved Me                      NaN           NaN  ...        NaN     NaN
The Man with the Golden Gun               NaN           NaN  ...        NaN     NaN
The Living Daylights                      NaN           NaN  ...        NaN     NaN
Spectre                                   NaN           NaN  ...        NaN     NaN
Skyfall                                2012.0    Sam Mendes  ...      170.2    14.5
Quantum of Solace                      2008.0  Marc Forster  ...      181.4     8.1
On Her Majesty's Secret Service           NaN           NaN  ...        NaN     NaN
Octopussy                                 NaN           NaN  ...        NaN     NaN
Never Say Never Again                     NaN           NaN  ...        NaN     NaN
Moonraker                                 NaN           NaN  ...        NaN     NaN
Live and Let Die                          NaN           NaN  ...        NaN     NaN
Licence to Kill                           NaN           NaN  ...        NaN     NaN
Goldfinger                                NaN           NaN  ...        NaN     NaN
GoldenEye                                 NaN           NaN  ...        NaN     NaN
From Russia with Love                     NaN           NaN  ...        NaN     NaN
For Your Eyes Only                        NaN           NaN  ...        NaN     NaN
Dr. No                                    NaN           NaN  ...        NaN     NaN
Die Another Day                           NaN           NaN  ...        NaN     NaN
Diamonds Are Forever                      NaN           NaN  ...        NaN     NaN
Casino Royale                             NaN           NaN  ...        NaN     NaN
Casino Royale                             NaN           NaN  ...        NaN     NaN
A View to a Kill                          NaN           NaN  ...        NaN     NaN

[26 rows x 6 columns]

In [48]:
jamesbond.where(part1 | part2)

                                 Release Year  ... Salary
Film                                           ...
You Only Live Twice                       NaN  ...    NaN
Tomorrow Never Dies                    1997.0  ...   10.0
Thunderball1                              NaN  ...    NaN
Enough Not Is World The                1999.0  ...   13.5
The Spy Who Loved Me                      NaN  ...    NaN
The Man with the Golden Gun               NaN  ...    NaN
The Living Daylights                      NaN  ...    NaN
Spectre                                2015.0  ...    NaN
Skyfall                                2012.0  ...   14.5
Quantum of Solace                      2008.0  ...    8.1
On Her Majesty's Secret Service           NaN  ...    NaN
Octopussy                                 NaN  ...    NaN
Never Say Never Again                     NaN  ...    NaN
Moonraker                                 NaN  ...    NaN
Live and Let Die                          NaN  ...    NaN
Licence to Kill                           NaN  ...    NaN
Goldfinger                                NaN  ...    NaN
GoldenEye                                 NaN  ...    NaN
From Russia with Love                     NaN  ...    NaN
For Your Eyes Only                        NaN  ...    NaN
Dr. No                                    NaN  ...    NaN
Die Another Day                        2002.0  ...   17.9
Diamonds Are Forever                      NaN  ...    NaN
Casino Royale                          2006.0  ...    3.3
Casino Royale                             NaN  ...    NaN
A View to a Kill                       1985.0  ...    9.1

[26 rows x 6 columns]

In [50]:
jamesbond.columns = [column_name.replace(" ", "_") for column_name in jamesbond.columns]
jamesbond.head(1)

                     Release_Year          Actor  ... Investment  Salary
Film                                              ...
You Only Live Twice          1967  Lewis Gilbert  ...       59.9     4.4

[1 rows x 6 columns]

In [52]:
jamesbond.query('Actor == "John Glen"')

                      Release_Year      Actor  ... Investment  Salary
Film                                           ...
The Living Daylights          1987  John Glen  ...       68.8     5.2
Octopussy                     1983  John Glen  ...       53.9     7.8
Licence to Kill               1989  John Glen  ...       56.7     7.9
For Your Eyes Only            1981  John Glen  ...       60.2     NaN
A View to a Kill              1985  John Glen  ...       54.5     9.1

[5 rows x 6 columns]

In [54]:
jamesbond.query('Director != "Timothy Dalton"')

                                 Release_Year  ... Salary
Film                                           ...
You Only Live Twice                      1967  ...    4.4
Tomorrow Never Dies                      1997  ...   10.0
Thunderball1                             1965  ...    4.7
Enough Not Is World The                  1999  ...   13.5
The Spy Who Loved Me                     1977  ...    NaN
The Man with the Golden Gun              1974  ...    NaN
Spectre                                  2015  ...    NaN
Skyfall                                  2012  ...   14.5
Quantum of Solace                        2008  ...    8.1
On Her Majesty's Secret Service          1969  ...    0.6
Octopussy                                1983  ...    7.8
Never Say Never Again                    1983  ...    NaN
Moonraker                                1979  ...    NaN
Live and Let Die                         1973  ...    NaN
Goldfinger                               1964  ...    3.2
GoldenEye                                1995  ...    5.1
From Russia with Love                    1963  ...    1.6
For Your Eyes Only                       1981  ...    NaN
Dr. No                                   1962  ...    0.6
Die Another Day                          2002  ...   17.9
Diamonds Are Forever                     1971  ...    5.8
Casino Royale                            2006  ...    3.3
Casino Royale                            1967  ...    NaN
A View to a Kill                         1985  ...    9.1

[24 rows x 6 columns]

In [57]:
jamesbond.query("Revenue > 700.0 and Investment > 130.0")

         Release_Year       Actor      Director  Revenue  Investment  Salary
Film
Spectre          2015  Sam Mendes  Daniel Craig    726.7       206.3     NaN
Skyfall          2012  Sam Mendes  Daniel Craig    943.5       170.2    14.5

In [59]:
jamesbond.query("Director in ['Pierce Brosnan', 'Roger Moore']")

                             Release_Year  ... Salary
Film                                       ...
Tomorrow Never Dies                  1997  ...   10.0
Enough Not Is World The              1999  ...   13.5
The Spy Who Loved Me                 1977  ...    NaN
The Man with the Golden Gun          1974  ...    NaN
Octopussy                            1983  ...    7.8
Moonraker                            1979  ...    NaN
Live and Let Die                     1973  ...    NaN
GoldenEye                            1995  ...    5.1
For Your Eyes Only                   1981  ...    NaN
Die Another Day                      2002  ...   17.9
A View to a Kill                     1985  ...    9.1

[11 rows x 6 columns]

In [61]:
jamesbond.query("Actor not in ['John Glen','Guy Hamilton']")

                                 Release_Year  ... Salary
Film                                           ...
You Only Live Twice                      1967  ...    4.4
Tomorrow Never Dies                      1997  ...   10.0
Thunderball1                             1965  ...    4.7
Enough Not Is World The                  1999  ...   13.5
The Spy Who Loved Me                     1977  ...    NaN
Spectre                                  2015  ...    NaN
Skyfall                                  2012  ...   14.5
Quantum of Solace                        2008  ...    8.1
On Her Majesty's Secret Service          1969  ...    0.6
Never Say Never Again                    1983  ...    NaN
Moonraker                                1979  ...    NaN
GoldenEye                                1995  ...    5.1
From Russia with Love                    1963  ...    1.6
Dr. No                                   1962  ...    0.6
Die Another Day                          2002  ...   17.9
Casino Royale                            2006  ...    3.3
Casino Royale                            1967  ...    NaN

[17 rows x 6 columns]